.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.middle-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 30%; /* Approximately 1/3 of the container width, allowing for some gap */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}